{% extends 'base.html'%}
{% block content%}
<!DOCTYPE html>
<html>
<body>

<style>

    body{
        background-color: rgb(121, 167, 201);
    }
</style>
<title> 「話し合い、他の人と話す場所です！」 </title>


<h1 class="text-center"> Welcome to hanashiai! / 「ハナシアイへようこそ！」へのアクセス方法を以下に示します。 </h1>

</br>

    <h1 class="text-center"> Why make hanashiai</h1> 

    <p class="text-center"> Its a project im making </p>

    <h1 class="text-center"> Why is it called hanashiai?</h1>

    <p class="text-center"> Because it means discusion in japanese and thats what i wanted it to be called </p>

    <h1 class="text-center"> Thats all </h1>

     

     <a href="{% url 'homepage' %}" class="btn btn-primary" > Return To Homepage</a>
    
     







</body>
</body>
</html>
{%endblock%}