{% extends 'base.html'%}
{% block content %}
<!DOCTYPE html>
<html>
<body>
<style>

    body{
        background-color: rgb(87, 150, 202);
    }
</style> <title> 「話し合い、他の人と話す場所です！」 </title>

<a href="{% url 'homepage'%}" class="btn btn-secondary"> Return to homepage /</a>

<h1 class="center-text"> {{post.title}} </h1> 




{% if post.image %}
</br>
<img src="{{ post.image.url }}">
</br>
{% endif %}


<h2> ( {{post.author}} )</h2> 

<h1> {{post.body}} </h1>

<hr>

<h1> Comments </h1>

{% if not post.comments.all %}
no comments
{%else%}
{%for comment in post.comments.all%}

<li><h1>{{comment.title }}<h1>

    <h1> {{comment.author}} Replied </h1>

<h1>{{ comment.date }}</h1>

<h1> {{ comment.body }}</li></h1>
<hr>

{%endfor%}
{%endif%}

                {% if user.is_authenticated %}
<a href="{% url 'post_comments' pk=post.pk %}" class="btn btn-secondary"> Post a comment </a>

{% else %}
<a href="{% url 'signup' %}" class="btn btn-secondary"> You need to signup to comment </a>
{% endif %}


</body>
</html>
{% endblock %}
